body{
    margin:0;
    font-family: 'PingFang SC', 'Microsoft Yahei', 'arial', 'tahoma', 'sans-serif';
    font-size: 14px;
    background:#EDF1F6;
}
.clr-fff{
    color: #FFF;
}
.w-100{
    width: 100%;
}
.t-left{
    text-align: start;
}
.t-center{
    text-align: center;
}
.t-right{
    text-align: end;
}